@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300;400&display=swap');


.container-principal {
    display: flex;
    justify-content: center;
}

.container-articulo {
    display: flex;
    justify-content: center;
    background: rgb(181, 183, 170);
    background: linear-gradient(90deg, rgba(181, 183, 170, 1) 29%, rgba(217, 217, 217, 0.9) 96%);
    width: 60%;
    height: 420px;
    margin-top: 10%
}

.articulo-img2 {
    background-image: url('../assets/pngegg.png');
    background-repeat: no-repeat;
    background-size: 280px;
    margin-top: 5%;
    height: 400px;
    width: 40%;
}

.articulo-texto {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 200px;
    width: 60%;
    margin-right: 40px;
    background: linear-gradient(180deg, #FCF1F1 40%, rgba(217, 217, 217, 0.00) 100%);
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.text {
    margin: 2px 2px 21px 22px;
    font-family: 'Jura', sans-serif;
    font-size: 18px;
    color: #272323;
    letter-spacing: 2px;
    font-weight: 400;
};