
.container-img2{
    background-image: url('../assets/pngegg.png');
    background-size: 120px;
    background-repeat: no-repeat;
    height: 134px;
    background-position: center;
    padding-top: 20px;

}
