footer{
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    bottom: 0;
    height: 50px;
    width: 100%;
   
    opacity: 0.5;
}

h4{
    font-family: 'Franklin Gothic Medium',Arial, sans-serif;
    letter-spacing: 2px;
}
